{% assign competencies = site.data.data.main.competencies %}
{% if competencies %}
<section class="skills-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4">{{ competencies.title }}</h3>
  <div class="item">
    <ul class="list-unstyled resume-skills-list">

      {% for skill in competencies.info %}
      <li>
        <p><b>{{ skill.type }}</b><br />
        <small style="font-style: italic;">{{ skill.desc }}</small><br />
        <small>Experience: {{ skill.level }}</small>
        </p></li>
      {% endfor %}
    </ul>
  </div><!--//item-->
</section><!--//skills-section-->
{% endif %}
