{% assign contact = site.data.data.main.contact %}
{% if contact %}
<div class="resume-header">
  <div class="row align-items-center">
    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
      <h2 class="resume-name mb-0 text-uppercase">{{ contact.name }}</h2>
      <div class="resume-tagline mb-3 mb-md-0">{{ contact.tagline }}</div>
    </div><!--//resume-title-->
    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
      <ul class="list-unstyled mb-0">
        {% if contact.phone %}
        <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a class="resume-link" href="tel:#">{{ contact.phone }}</a></li>
        {% endif %}
        {% if contact.email %}
        <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg me-2"></i><a class="resume-link" href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
        {% endif %}
        {% if contact.website %}
        <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link" href="{{ contact.website }}">{{ contact.website }}</a></li>
        {% endif %}
        {% if contact.address %}
        <li class="mb-2"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>{{ contact.address }}</li>
        {% endif %}
        {% if contact.pdf %}
        <li class="mb-0"><i class="fas fa-file-pdf fa-fw fa-lg me-2"></i><a href="{{ contact.pdf }}" target="_blank">Download as PDF</a></li>
        {% endif %}
      </ul>
    </div><!--//resume-contact-->
  </div><!--//row--> 
</div><!--//resume-header-->
{% endif %}