{% assign education = site.data.data.education %}
{% if education %}
<section class="education-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4">{{ education.title }}</h3>
  <ul class="list-unstyled resume-education-list">

    {% for graduation in education.info %}
    <li class="item mb-3">
      <div class="resume-degree"><b>{{ graduation.degree }}</b></div>
      <div class="resume-degree-org text-muted">{{ graduation.university }}</div>
      <div class="resume-degree-time text-muted"><i>{{ graduation.time }}</i></div>
      {% if graduation.details %}
      <div class="details text-muted small">
        {{ graduation.details | markdownify }}
      </div><!--//details-->
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section><!--//education-section-->
{% endif %}
