{% assign interests = site.data.data.main.interests %}
{% if interests %}
<section class="skills-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4">{{ interests.title }}</h3>
  <ul class="list-unstyled resume-interests-list mb-0">
    {% for interest in interests.info %}
    <li class="mb-2">{{ interest.item }}</li>
    {% if interest.link %}
    <a href="{{ interest.link }}">{{ interest.link }}</a>
    {% endif %}
    {% endfor %}
  </ul>
</section><!--//certificates-section-->
{% endif %}