{% assign otherexp = site.data.data.otherexp %}
{% if otherexp %}
<section class="project-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4"> {{ otherexp.title }}</h3>

  {% for project in otherexp.info %}
  <div class="item mb-3">
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ project.role }}</h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">{{ project.time }}</div>
    </div>
    <div class="item-content">
      <p>{{ project.company }}</p>
    </div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}