{% assign main = site.data.data.main.contact %}
{% if contact %}
<div class="resume-footer text-center">
    <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
        <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="https://{{ contact.github }}"><i class="fab fa-github-square fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">{{ contact.github }}</span></a></li>
        <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="https://{{ contact.linkedin }}"><i class="fab fa-linkedin fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">{{ contact.linkedin }}</span></a></li>
        <li class="list-inline-item mb-lg-0 me-lg-3"><a class="resume-link" href="https://{{ contact.twitter }}"><i class="fab fa-twitter-square fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">{{ contact.twitter }}</span></a></li>
    </ul>
</div><!--//resume-footer-->
{% endif %}