<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
	
	<div class="main-wrapper">
		<div class="container px-3 px-lg-5">
			<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
				
        {% include contact.html %}
				<hr>
				<div class="resume-intro py-3">
					<div class="row align-items-center">
						<div class="col-12 col-md-3 col-xl-2 text-center">
						    <img class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto" src="assets/images/profile.png" alt="image">
						</div>
						{% assign profile = site.data.data.career-profile %}
						<div class="col text-start">
              <div class="summary">
                {{ profile.summary | markdownify }}
              </div>
						</div><!--//col-->
					</div>
				</div><!--//resume-intro-->
				<hr>
				<div class="resume-body">
					<div class="row">
						<div class="resume-main col-12 col-lg-8 col-xl-9 pe-0 pe-lg-5">
							
              {% include experiences.html %}
							{% include projects.html %}
							{% include otherexp.html %}
							
						</div><!--//resume-main-->
						<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">

              {% include competencies.html %}
							<hr />
              {% include education.html %}
              <hr />
              {% include language.html %}
              <hr />
              {% include interests.html %}
									
						</aside><!--//resume-aside-->
					</div><!--//row-->
				</div><!--//resume-body-->
				<hr>
        {% include resume-footer.html %}
			</article>		
		</div><!--//container-->
				
		{% include footer.html %}
				
	</div><!--//main-wrapper-->
</body>
</html> 